.inputcontent{
    width: 80%;
    height: 50px;
    background-color: #ADADAD;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
  }
  .inputtext{
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.2rem;
  }
  .iconcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  
  }
  .inputcontent .icon{
    font-size: 25px;
   
  }